@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  outline: none;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  font-family: "JetBrains Mono", monospace;
  flex-wrap: wrap;

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}
